.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header h1{
  text-align: center;
  font-size: 300%;
}

.UserPage{
  width: 80%;
  margin:auto;
}

.Question p{
  display: inline-block;
}

nav{
  background-color: #000080;
  padding: 10px;
}

nav .md-form.mt-0{
  display:inline-flex;
  width:500px;
}

nav .md-form.mt-0 input{
  padding-left: 25px;
}

nav #search{
  margin: 20px;
}

nav .material-icons.mdc-button__icon{
  top: 20px;
  left: 10px;
 
}

nav div{
  display: inline-block;
}

nav input{
  outline: none;
  border-radius: 7px;
}

nav a{
  color: white;
  padding: 0 10px;
  text-decoration: none;
}

nav a:active{
  color: red;
}

nav #navlinks{
  float: right;
}

html{
  background-color: #f9f9f9;
  height: 100%;
}




html, body, #root{
  height: 100%;
}

#content{
  width: 80%;
  margin: auto;
  background-color: white;
  height: 100%;
  margin-top: 0;
  overflow: auto;
}


.Box{
  width: 60%;
  margin: 0 auto;
  margin-top:30px;
  border-radius: 100px;
}

.Box h2{
  padding:0;
  width: 16%;
  color:white;
  margin: 0 auto;
}

.Box .BoxTop{
  background-color:#282828;
}

.Box .BoxBottom{
  padding:10px;
  background-color: lightblue;
}

.Box .BoxForms{
  margin-bottom: 20px;
}

.Box plaintext{
  display: inline-block;
  margin: 10px;
}

.Box input{
  width:99%;
}

.Box button{
  border: solid;
  background-color: white;
  border-radius: 10px;
  
}

.Box #BoxError{
  font-size: 100%;
  color:red;
  margin: 0;
}

.Box button:focus{
  outline: none;
  box-shadow: none;
}

.Box button:active{
  background:black;
  color:white;
}

.Box button, .Box plaintext{
  font-size: 200%;
}

.Box .inputWrapper{
  margin: auto;
}

.Box .LoginButtonOuter{
  width:50%;
  display:inline-block;
}

.Box .LoginButtonInner{
  width:45%;
  margin:auto;
}

.Box .SignupButtonOuter{
  width:100%;
  display:inline-block;
}

.Box .SignupButtonInner button{
  width:100%;
  margin:auto;
}